# Byte-compiled / cache
__pycache__/
*.py[cod]
*.egg-info/

# Entornos virtuales
venv/
.venv/

# Caché de pytest
.pytest_cache/
.hypothesis/
docs/

# Cobertura
.coverage
htmlcov/

# Bases de datos y ficheros de datos
vault.dat
copia.dat
*.dat.fail
shares.txt

# Carpetas de configuración de editores
.vscode/
.idea/
*.swp
*.swo