# Byte-compiled / cache
__pycache__/
*.py[cod]
*.egg-info/

# Entornos virtuales
venv/
.venv/

# Caché de pytest
.pytest_cache/
.hypothesis/

# Cobertura
.coverage
htmlcov/

# Bases de datos y ficheros de datos
vault.dat
copia.dat
*.dat.fail
shares.txt

# PyInstaller
build/
# Permite la carpeta dist/ y su contenido para que la app de macOS y el .exe de Windows estén disponibles
!dist/
!dist/**

# Carpetas de configuración de editores
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Archivos temporales y logs
*.log
*.tmp

# Otros
poetry.lock

# Eliminar icon.ico si no se usa en macOS ni en la app.